.grid-container {
display: grid;
height: 100vh;
gap: 20px;
padding: 20px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto;
}
.product {
    background-color: antiquewhite;
    color: brown;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.idem {
    background-color: green;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    font-size: 20px;
    border-radius: 8px;

}
.grid {
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 0 0 10px black;
    height: 60vh;
    gap: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
}